<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Holstad Family Root Beer Collection</title>
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="Steph and Ryan's Root Beers" />
  <meta property="og:image" content="http://holstad-server.herokuapp.com/public/assets/images/IMG_0647.JPG" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="/public/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
<script src="public/assets/js/main.js"></script>
<body>

<div ng-app="Collection" ng-cloak id="outer" ng-controller="myCtrl" class="Container">
  <div class="w3-card-2 Collection">
    <header class="w3-container w3-light-grey w3-padding-16">
      <h3>Collection ({{bottles.length}})</h3>
    </header>
    <ul class="w3-ul">
      <li ng-repeat="x in bottles" class="w3-padding-16" ng-click="itemSelected(x)">{{x.name}}<span class="w3-right" style="font-size: xx-small">></span></li>
    </ul>
  </div>
  <div ng-if="selection !== undefined" class="Info">
    <header class="w3-container w3-light-grey w3-padding-16">
        <h3>{{ selection.name}}<span ng-click="close()" ng-if="compact" class="w3-right">x</span></h3>
        <div ng-if="selection.rating !== undefined">
            <span ng-if="selection.rating > 0" class="fa fa-star" ng-class="{'fa-star-half': selection.rating == 0.5, 'checked': selection.rating >= 0.5}"></span>
            <span ng-if="selection.rating > 1" class="fa fa-star" ng-class="{'fa-star-half': selection.rating == 1.5, 'checked': selection.rating >= 1.5}"></span>
            <span ng-if="selection.rating > 2" class="fa fa-star" ng-class="{'fa-star-half': selection.rating == 2.5, 'checked': selection.rating >= 2.5}"></span>
            <span ng-if="selection.rating > 3" class="fa fa-star" ng-class="{'fa-star-half': selection.rating == 3.5, 'checked': selection.rating >= 3.5}"></span>
            <span ng-if="selection.rating > 4" class="fa fa-star" ng-class="{'fa-star-half': selection.rating == 4.5, 'checked': selection.rating >= 4.5}"></span>
        </div>
    </header>
    <div ng-model="selection"  ng-change="initialize()" class="w3-padding-16 info-container">
        <img ng-if="selection.photo !== undefined" class="image" src="{{ selection.photo.url }}" style="max-height: 100%">
        <span class="notes" style="margin-left: 16px;">{{ selection.notes }}</span>
    </div>
    <hr>
    <div ng-if="selection.purchaseGeoLocation !== undefined || selection.breweryGeoLocation !== undefined" class="w3-padding-16 info-container" style="min-height: 300px; height: 50%">
      <div id="map" style="height: 100%; width: 100%;"></div>
    </div>
  </div>
</div>
  
</div>

</body>
</html>
