.Container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.Collection {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  width: 20%;
  min-width: 200px;
}

.Collection::-webkit-scrollbar {
  display: none;
}

.Info {
  overflow: auto;
  height: auto;
  padding: 16px!important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  flex: 1;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container image {
  max-height: 100%;
}

.notes {
  display: flex;
  text-overflow: ellipsis;
  margin-top: 16px;
}

.checked {
  color: #ffc107;
}

hr {
  border-top-width: 2px;
}

@media handheld, screen and (max-width: 500px) {
  .Container {
    overflow: auto;
  }

  .Collection {
    width: 100%;
    min-width: 100% - 16px;
    z-index: -1;
  }

  .Info {
    padding: 0px;
    width: 100%;
    height: auto;
    overflow: auto;
  }
}